.container {
  background: var(--shades_100);
  margin: 0 35px;
  border-radius: 24px;
  padding: 32px 24px;
  height: calc(100dvh - 70px);
  box-shadow: 0 0.125rem 0.25rem rgb(29 29 31 / 50%);
  overflow-y: scroll;
}

.developerName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  bottom: 0;
  padding: 8px;
}

@media (max-width: 576px) {
  .container {
    margin: 0;
    border-radius: 24px;
    padding: 32px 24px;
    height: calc(100dvh - 85px);
  }

  .developerName {
    writing-mode: unset;
    position: unset;
  }
}
