.st0 {
  clip-path: url(#SVGID_2_);
}
.st1 {
  fill: url(#SVGID_3_);
}
.st2 {
  clip-path: url(#SVGID_5_);
}
.st3 {
  fill: #939598;
}
.st4 {
  clip-path: url(#SVGID_7_);
}
.st5 {
  fill: url(#SVGID_8_);
}
.st6 {
  clip-path: url(#SVGID_10_);
}
.st7 {
  fill: url(#SVGID_11_);
}
.st8 {
  clip-path: url(#SVGID_13_);
}
.st9 {
  fill: #bcbec0;
}
.st10 {
  fill: #009fc2;
}
